html,body
{
    overflow-x: hidden;
}


h6 {
	font-family: 'Kalam';
}

section {
	padding-top: 6.5em;
}

/*     nav       */

.navbar-fixed-top {
    padding: 0;
    background-color: #333;
}
.navbar-nav {
    width: 100%;
    text-align: center;
 }
.navbar-nav li {
    float: none;
    display: inline-block;
    width:8em;
    margin-right: 2%;
    margin-left: 2%;
}

#bs-example-navbar-collapse-1 ul li.page-scroll a {
    background-color: #333;
}

#bs-example-navbar-collapse-1 ul li.page-scroll.active a {
    background-color: transparent;
}

.navbar-nav li hr {
		border-top:2px solid white;
		margin-top: -7px;
		width:100px;
	}

.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #A2D2BA;
  background-color: transparent;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #333;
}


/*    Nav Toggle    */

.navbar-default .navbar-toggle:hover {
  border-color:none;
  background-color: #A2D2BA;
}

.navbar-default .navbar-toggle {
  border:none;
  background-color: #333;
}

.navbar-default .navbar-toggle:focus {
	border:none;
	background-color: #333;
}

/*    banner     */

header {
	background-color: #A2D2BA;
}

#banner div img {
	width:600px;
	padding:0 20px;
}

header #banner {
	padding-top: 150px;
	padding-bottom: 100px
}
/*    slogan line   */

.media-slogan {
	width:100%;
	color:#333;
	background-color:#ECF0F1;
	padding-top: 30px;
	padding-bottom: 30px;
}

header .container {
	padding: 0px;
}

@media (max-width:485px) {
	.media-slogan h3 {
		font-size: 1.1em;
	}
	.media-slogan hr {
		border-top: 1px solid #333;
		width:70%
	}
}

.media-slogan h3 {
	font-size: 1.5em;
}
.media-slogan hr {
	border-top: 1px solid #333;
	width:60%
}


/*    About     */

#about {
	background-color:#333;
	color:#ECF0F1;
}

#about hr {
	border-top: 6px solid #333;
	width:250px;
	margin-top:-2px;
	border-radius: 2px
}

#about img {
	margin: auto;
	width:300px;
	padding-bottom: 10px;
}

.about p {
	text-indent: 5%;
	margin: auto;
	width:80%;
	max-width: 1000px;
}


/*     Services    */

#portfolio {
	background-color: #A2D2BA;
}

#portfolio .portfolio-item {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    height: 20em;
    background-color: #333;
}

#portfolio .portfolio-item .portfolio-link .caption {
	height:120%;
}

#portfolio .portfolio-item h1 {
	max-width: 700px;
	height:6.67em;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 3em;
  color:#fff;
}

#portfolio .portfolio-item h1:hover {
	text-decoration: none;
}

#portfolio .portfolio-item .portfolio-link {
	width: 100%;
	max-width: 700px;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background-color:#ECF0F1;
}

#portfolio .portfolio-item .portfolio-link .caption ul {
	background-color:#ECF0F1;
	color:#333;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: bold;
}

a:hover,
a:focus {
  text-decoration: none;
}

#portfolio .caption .fa {
	color: #333;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -22px;
}


/* MODAL PAGES */

.portfolio-modal .modal-content .modal-body {
	color: #333;
}

.modal-body hr {
  height: 2px;
  background-color:#555;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.portfolio-modal .modal-content h2 {
	font-size: 2em;
}

.portfolio-modal .modal-content .modal-body ul {
	text-align: left;
	margin-left: 5%;
	margin-bottom: 3em;
}

@media (min-width:450px) {
	.portfolio-modal .modal-content h2 {
		font-size: 3em;
	}
	.portfolio-modal .modal-content .modal-body ul {
		text-align: left;
		margin-left: 10%;
		margin-bottom: 3em;
	}
}

.portfolio-modal .close-modal .lr {
	width: 2px;
}

.portfolio-modal .close-modal .lr .rl {
	width: 2px;
}

.btn-default {
	background-color: #333;
}

.btn-default:hover {
	background-color: #A2D2BA;
	border: none;
	color: #333;
}

.fade.in {
    opacity: .8;
}

/*    FAQ SCREEN    */

#faqdrop1, #faqdrop2, #faqdrop3 {
	display: none;
}

.question:hover {
	cursor: pointer;
}

#faq .xs-sm {
	text-align: center;
}

#faq .xs-sm h2 {
	font-size: 1.5em;
}

@media (max-width:768px) {
	#faq .md-xl {
		display:none;
	}
	#faq p {
		font-size: .9em;
	}
}

@media (min-width:769px) {
	#faq .xs-sm {
		display: none;
	}
}

#faq {
	background-color:#333;
	color:#ECF0F1;
}

#faq hr {
  height: 2px;
  background-color:#555;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
	background-color: inherit;
}

#faq img {
	display: block;
	margin:auto;
	width: 25%;
	max-width: 600px;
	border: 3px solid #141414;
}

#faq a {
	text-decoration: none;
	color: #A2D2BA;
}

#faq p {
	margin: auto;
	width:80%;
	max-width: 1000px;
}
/*   Contact   */

#contact h1 {
	color:#333;
	text-align: center;
	font-size: 1.5em;
}

#contact {
	background-color:#A2D2BA;
	color:#fff;
}

#contact hr {
	border-top: 6px solid #333;
	width:250px;
	margin-top:-2px;
	border-radius: 2px
}

.btn-success {
    color: #333;
    background-color: #A2D2BA;
		border: 2px solid #fff;
		font-weight: bold;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #333;
    border-color:#A2D2BA;
}

#contactForm label {
	color:#333;
}

.form-control::-webkit-input-placeholder {
	color:#333;
}

.form-control::-moz-placeholder {
	color:#333;
}

#name, #email, #phone, #message {
	color:#333;
}

/*    Arrow Button */

.btn-primary {
    color: #ffffff;
    background-color: #307C5D;
    border-color: #307C5D;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #307C5D;
    border-color: #307C5D;
}

/*      Foooter     */

footer .footer-below {
	background-color:#A2D2BA;
	padding:10px 0;
	color:#333;
}
